USE [Pizarra]
GO
/****** Object:  Table [dbo].[Dibujo]    Script Date: 11/1/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dibujo](
	[IdDibujo] [int] IDENTITY(1,1) NOT NULL,
	[Dibujo] [nvarchar](max) NULL,
	[IdSala] [int] NULL,
 CONSTRAINT [PK_Dibujo] PRIMARY KEY CLUSTERED 
(
	[IdDibujo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 11/1/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[IdSala] [int] IDENTITY(1,1) NOT NULL,
	[NombreSala] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Salas] PRIMARY KEY CLUSTERED 
(
	[IdSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dibujo]  WITH CHECK ADD  CONSTRAINT [FK_Dibujo_Salas] FOREIGN KEY([IdSala])
REFERENCES [dbo].[Salas] ([IdSala])
GO
ALTER TABLE [dbo].[Dibujo] CHECK CONSTRAINT [FK_Dibujo_Salas]
GO
