@{
    ViewData["Title"] = "Bienvenido a la Pizarra";
    Layout = "_PizarraLayout";
}

<style>

    .pizarra-background {
        background-color: #2E8B57;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 20px solid #8B4513;
        border-radius: 1%;
        font-family: sans sans-serif;
    }

    .form-control {
        border: 1px solid #ccc;
    }

    .pizarra-form {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        max-width: 400px;
        width: 100%;
        border: 5px solid #0a4b26;
    }

    .inputbox {
        position: relative;
    }

        #nombre {
            position: relative;
            width: 100%;
            padding: 20px 10px 10px;
            background: transparent;
            outline: none;
            box-shadow: none;
            border: none;
            color: #fff;
            font-size: 1em;
            letter-spacing: 0.05em;
            transition: 0.5s;
            z-index: 10;
        }

        .inputbox span {
            position: absolute;
            left: 0;
            padding: 20px 10px 10px;
            font-size: 1em;
            color: #8f8f8f;
            letter-spacing: 00.05em;
            transition: 0.5s;
            pointer-events: none;
        }

        .inputbox input:valid ~ span,
        .inputbox input:focus ~ span {
            color: #0a4b26;
            transform: translateX(-10px) translateY(-34px);
            font-size: 0,75em;
        }

        .inputbox i {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: #0a4b26;
            border-radius: 4px;
            transition: 0.5s;
            pointer-events: none;
            z-index: 9;
        }

        .inputbox input:valid ~ i,
        .inputbox input:focus ~ i {
            height: 44px;
        }

    .btn-ingresar {
        width: 130px;
        height: 40px;
        font-size: 1.1em;
        cursor: pointer;
        background-color: #171717;
        color: #fff;
        border: none;
        border-radius: 5px;
        transition: all .4s;
        margin-top: 30px;
    }

        .btn-ingresar:hover {
            border-radius: 5px;
            transform: translateY(-10px);
            box-shadow: 0 7px 0 -2px #ff7f50, 0 15px 0 -4px #0a4b26, 0 16px 10px -3px #0a4b26;
        }

        .btn-ingresar:active {
            transition: all 0.2s;
            transform: translateY(-5px);
            box-shadow: 0 2px 0 -2px #ff7f50, 0 8px 0 -4px #0a4b26, 0 12px 10px -3px #0a4b26;
        }

        .estilo-h1{
            color: #0a4b26;
        }

        .fade-transition {
            transition: opacity 0.5s ease-in-out;
            opacity: 0;
        }

        .fade-transition.show {
            opacity: 1;
        }

</style>

<div class="pizarra-background">
    <div class="container pizarra-form">
        <div class="text-center">
            <h1 class="display-4 mb-4 estilo-h1">Bienvenido a la Pizarra</h1>
            <form action="/Pizarra/PizarraColaborativa" method="post" id="validacion-usuario">
                <div class="inputbox"><br>
                    <input type="text" id="nombre" name="nombre">
                    <span>Ingrese su nombre</span>
                    <i></i>
                </div>
                <span id="error-usuario" class="fade-transition" style="color: red; font-size: 0.9em; margin-top: 5px; display: none;">El campo de nombre no puede estar vacío.</span>
                <button type="submit" class="btn-ingresar">Ingresar</button>
            </form>
        </div>
    </div>
</div>

<script src="~/js/validacion.js"></script>