@{
    Layout = "_PizarraLayout";
    var nombre = TempData["nombre"];
    var salaSeleccionada = TempData["sala"];
}

<div id="container-prepizarra" class="container-prepizarra bodyclass">
    <div>
        <h1 id="h1-fuera-de-sala">¡Bienvenido, @nombre!</h1>
        <h1 id="h1-en-sala" hidden="true"></h1>
    </div>

    <span id="error-sala" style="color: red; display: none; font-size: 0.9em; margin-top: 5px;">No puede crear una sala sin nombre</span>
    <div class="row my-4 formato-prepizarra" id="divNombreSala">
        <div class="col-md-8 d-flex justify-content-center">
            <input type="text" class="form-control me-2 col-md-6" id="salaInput" placeholder="Nombre de la sala">
            <button class=" col-md-3 ml-2 btn-crear-unirse-sala" id="crearSala">Crear/Unirse a Sala</button>
        </div>
    </div>
    @if (ViewBag.Salas.Count > 0)
    {
        <div class="form-group formato-prepizarra2 bodyclass" id="divSalasCreadas">
            @foreach (var sala in ViewBag.Salas)
            {
                <input type="text" hidden="true" name="salaCreada" value="@sala" />
                <button class=" mr-3 mb-1 buttom-style-custom" id="unirme">@sala</button>
            }
        </div>
    }
</div>

<div id="salir" hidden="true" style="margin-bottom: 10px; margin-top: 10px; color: #fff;" class="bodyclass"></div>

<div class="container bodyclass">
    <div class="row" id="divPizarra" hidden="true">
        <div class="col-12 col-md-9" style="padding-left:0;">
            <canvas id="pizarra" class="pizarra" width="800" height="600"></canvas>
        </div>
        <div class="col-12 col-md-3">
            <div id="notepad">
                <div class="d-flex align-items-center mb-2">
                    <label for="color" class="me-2">Color del trazo</label>
                    <input type="color" id="color" class="form-control col-6 col-sm-4 col-md-3 ml-1" value="#000000">
                </div>
                <div class="d-flex align-items-center mb-2">
                    <label for="size" class="me-2">Grosor del trazo</label>
                    <input type="number" id="size" class="form-control col-6 col-sm-4 col-md-3 ml-1" value="1" min="1" max="10">
                </div>
                <button class="btn btn-secondary btn-block mb-2" id="limpiar">Limpiar</button>
            </div>
            <div id="usuariosContainer" class="mt-4">
                <h5>Usuarios Conectados</h5>
                <div id="usuariosConectados"></div>
            </div>
            <div id="divChat" class="mt-4 d-flex flex-column align-items-center">
                <div id="messagesList" class="mb-2 w-100"></div>
                <div class="input-group mb-2">
                    <input type="text" id="messageInput" class="form-control" placeholder="Escribe un mensaje...">
                    <div class="input-group-append">
                        <button class="btn btn-success" id="sendButton">Enviar</button>
                    </div>
                </div>
                <span id="error-message" class="text-danger" style="display: none;">El mensaje no puede estar vacío</span>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/pizarra.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
